*/.idea/*
.idea/*
**/.idea/*
*/__pycache__/*
__pycache__/*
**/__pycache__/*
./*.log
*/*.log
**/*.log
./*.csv
*/logs/*
logs/*
sprawozdanie/sprawozdanie.aux
sprawozdanie/sprawozdanie.fdb_latexmk
sprawozdanie/sprawozdanie.fls
sprawozdanie/sprawozdanie.log
sprawozdanie/sprawozdanie.synctex.gz
